<h6 class="font-size-md mb-4">
	Products
</h6>
<div class="row mb-4">
	<div class="col-md-12">
		{foreach from=$company.production item="product"}
			{$products[$product]}, 
		{/foreach}
	</div>
</div>