.login_box {
	width: 400px;
	margin: 150px auto;
	padding: 20px;
	border: 1px solid #CCC;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background-color: #5bc0de;
}

.table th a {
	color: black;
}

.table td {
	padding: 3px !important;
	vertical-align: middle !important;
	font-size: 13px;
}

.pagination {
	margin: 0;
	float: right;
}