<div style="font-family: Arial;">
	<b>{$subject|escape}</b><br/>
	<br/>
	{$message|escape}<br/>
	<br/>
	=====================================<br/>
	Sender email: {$email|escape}<br/>
	Sender ip: {$user_ip|escape}
</div>