<div style="font-family: Arial;">
	User #{$user_id}: {$first_name} ({$email}) clicked on {$click}<br/>
	<br/>
	<a href="{$config.site_url}?lang={$lang}&u={$user_id}&c={$code}&h={$hash}&id=[id_hash]">Quick login</a><br/>
</div>