<ul class="list-group">
{foreach from=$companies item="item"}
	<li onclick="addSelectedCompany('{$field}', {$item.id});" class="list-group-item list-group-item-action">
		<b id="{$field}_company_name{$item.id}">{$item.name}</b>
	</li>
{/foreach}
</ul>