<ul class="list-group">
{foreach from=$companies item="item"}
	<li onclick="setSelectedCompany({$item.id});" class="list-group-item list-group-item-action">
		<b id="company_name{$item.id}">{$item.name}</b>
	</li>
{/foreach}
</ul>
