<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" src="{$config.views_url}js/chart.js"></script>

<div class="page_content">
	
	Dashboard
	
</div>