
<div class="wrapper" style="max-width: 600px;">
	<div class="formy">
		{include file="file:`$core_com`form.tpl" controller=$core_controllers.users form_name="sign_in_form" act="signIn"}
		
		<a href="/user/resetpass">Forgot your password?</a><br/>
	</div>
</div>